<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'brokensite/css/login.css' %}" />
    <meta charset="UTF-8"/>
    <title>Amazing Notes - Please login</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="description" content=""/>
    <link rel="icon" href="favicon.png">
</head>
<body>
<h1>Log In</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Log In</button>
</form>
<p>
    Forgot your password? <a href="/recover/">You can recover one here.</a>
</p>
</body>
</html>
