<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'brokensite/css/site.css' %}"/>
    <meta charset="UTF-8"/>
    <title>Recover Password - Amazing Notes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="description" content=""/>
    <link rel="icon" href="favicon.png">
</head>
<body>
<h1>Password recovery</h1>
<p class="error">
    {{ message }}
</p>
<form method="POST">
    {% csrf_token %}
    <div style="margin-bottom: 1rem">
        <label for="email">
            Email:
        </label>
        <input type="text" name="email" id="email"/>
    </div>
    <div style="margin-bottom: 1rem">
        <label for="code">
            Code:
        </label>
        <input type="text" name="code" id="code"/>
    </div>
    <div style="margin-bottom: 1rem">
        <label for="newpassword">
            Password:
        </label>
        <input type="password" name="newpassword" id="newpassword"/>
    </div>
    <div style="margin-bottom: 1rem">
        <label for="newpasswordagain">
            New password again:
        </label>
        <input type="password" name="newpasswordagain" id="newpasswordagain"/>
    </div>
    <button type="submit">Change Password</button>
</form>
<p>
    <a href="/accounts/login">Return</a>
</p>
</body>
</html>


