<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'brokensite/css/site.css' %}"/>
    <meta charset="UTF-8"/>
    <title>Search Results - Amazing Notes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="description" content=""/>
    <link rel="icon" href="favicon.png">
</head>
<body>
<h1>Search results</h1>
{% if notes|length < 1 and notes is not None %}
    <i>You have no notes</i>
{% else %}
    <p><i>You may click on a note to delete it. This action can not be undone.</i></p>
    <ul>
        {% for note in notes %}
            <li class="clickable" onclick="deleteNote({{ note.id }})">({{ note.id }}) {{ note }}</li>
        {% endfor %}
    </ul>
{% endif %}
<p>
    <a href="/">Return to front page</a>
</p>
</body>
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function deleteNote(id) {
        const url = '/delete/'
        fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": getCookie("csrftoken")
            },
            redirect: "follow",
            body: JSON.stringify({
                note_id: id
            }),
            credentials: "same-origin"
        }).then((result) => {
            window.location.href = '/'
        })
    }
</script>
</html>
